.box {
    position: relative;
    display: flex;
    justify-content: center;
}

.notificationsContainer {
    position: absolute;
    z-index: 10;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(75vw, 250px);
    max-height: 50vh;
    background-color: rgba(249, 249, 249, 1);
    overflow-y: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
}

.notificationsContainer::-webkit-scrollbar {
    display: none;
}

.empty {
    font-weight: 800;
    color: rgba(72, 74, 79, 1);
    font-size: clamp(12px, 1.2vw, 36px);
}

@media (max-width: 1024px) {
    .bellIconContainer {
        flex: 0 1 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        position: relative;
    }

    .Icon {
        width: 25px;
        height: 25px;
    }

    .bellIcon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(252, 252, 252, 1);
    }

    .notification {
        position: absolute;
        z-index: 10;
        width: 15px;
        height: 15px;
        border-radius: 6px;
        right: 0;
        top: 0;
        background-color: rgba(229, 160, 255, 1);
        transform: translate(30%, -30%);
    }
}

@media (min-width: 1024px) and (max-width: 2001px) {
    .bellIconContainer {
        flex: 0 1 7%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notificationsContainer {
        /* width: min(25vw, 350px); */
        width: clamp(300px, 20vw, 350px);
    }

    .box {
        position: relative;
    }

    .bellIcon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(252, 252, 252, 1);
    }

    .notification {
        position: absolute;
        z-index: 10;
        width: 15px;
        height: 15px;
        border-radius: 6px;
        right: 0;
        top: 0;
        background-color: rgba(229, 160, 255, 1);
        transform: translate(30%, -30%);
    }
}

@media (min-width: 2001px) {
    .bellIconContainer {
        flex: 0 1 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notificationsContainer {
        /* width: min(25vw, 350px); */
        width: clamp(350px, 20vw, 500px);
    }

    .box {
        position: relative;
    }

    .Icon {
        width: 40px;
        height: 40px;
    }

    .bellIcon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(252, 252, 252, 1);
    }

    .notification {
        position: absolute;
        z-index: 10;
        width: 20px;
        height: 20px;
        border-radius: 8px;
        right: 0;
        top: 0;
        background-color: rgba(229, 160, 255, 1);
        transform: translate(30%, -30%);
    }
}