.toggle-button-container {
    height: 23px;
    width: 83px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 11px;
    /* background-color: aqua; */
}

.toggle-btn {
    width: 39px;
    height: 22px;
    border: 0;
    border-radius: 11px;
    position: relative;
    cursor: pointer;
    background-color: rgba(111, 207, 151, 0.44);
}

.thumb {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    transform: translateX(0);
    background-color: rgba(111, 207, 151, 1);
    left: 0px;
    transition: left 0.30s ease;
    transform: translateY(-50%);
}

.toggle-btn.toggled .thumb {
    left: calc(39px - 22px);
}

.toggle-button-text {
    display: flex;
    align-items: center;
    width: 31px;
    height: 23px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(130, 130, 130, 1);
}