.logoutButton {
    padding-block: 5px;
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.logoutButton:hover {
    border: 1px solid rgba(224, 224, 224, 1);
}