.sucessAnimation {
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sucessRate {
    position: absolute;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: rgba(137, 178, 124, 1);
}

@media (min-width: 2000px) {

    .sucessAnimation {
        padding-block: 6rem;
        scale: 1.5;
    }
}