/* * {
  outline: 1px dashed red;
} */

.app-name {
  display: block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgba(72, 74, 79, 1);
  font-size: 32px;
  padding-left: 12px;
}

.topbar-container {
  height: 94px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-block: 15px;
  padding-inline: 25px;
}


.ser-tog-lan-container {
  display: none;
}

.ser-tog-lan-container {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

@media (min-width: 768px) {
  .app-name {
    display: none;
  }

  .ser-tog-lan-container {
    display: flex;
    width: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .ser-tog-lan-container {
    display: flex;
    width: 55%;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .ser-tog-lan-container {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .ser-tog-lan-container {
    width: 65%;
  }
}