.cardContainer {
    width: 218px;
    height: 126px;
    padding-inline: 20px;
    padding-block: 17px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unread {
    border: 1px solid rgba(162, 0, 255, 0.423);
}

.cardContainer:hover {
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.cardTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardNameIcon {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    border-radius: 10.77px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cardTime {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 8px;
    color: rgba(189, 189, 189, 1);
}

.cardButtom {
    display: flex;
    align-items: center;
}

.cardNameAndMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.cardName,
.CardMessage {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.cardName {
    font-size: 12px;
    color: rgba(51, 51, 51, 1);
}

.CardMessage {
    width: 130px;
    font-size: 10px;
    color: rgba(189, 189, 189, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CardIcon {
    display: flex;
    justify-content: flex-end;
}

/* Media Queries */
/* @media (max-width: 767px) {
    .cardContainer {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .cardContainer {
        width: 85%;
    }
}

@media (min-width: 1441px) and (max-width: 2000px) {
    .cardContainer {
        width: 80%;
    }

    .cardTime {
        font-size: clamp(0.7rem, 0.7vw, 0.9rem);
    }

    .cardName {
        font-size: clamp(0.9rem, 1vw, 1.5rem);
    }

    .CardMessage {
        font-size: clamp(0.7rem, 0.7vw, 0.9rem);
    }
}

@media (min-width: 2001px) {
    .cardContainer {
        min-height: 200px;
        padding-inline: 20px;
        padding-bottom: 20px;
    }

    .cardNameIcon {
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }

    .cardTime {
        font-size: clamp(1rem, 0.7vw, 1.5rem);
    }

    .cardName {
        font-size: clamp(1.3rem, 1vw, 1.5rem);
    }

    .CardMessage {
        font-size: clamp(0.9rem, 0.8vw, 1.5rem);
    }
} */