button {
    all: unset;
    display: block;
}

.chatbarContainer {
    display: none;
    height: 100%;
    width: 324px;
    display: flex;
    border-top-left-radius: 75px;
    background-color: rgba(249, 249, 249, 1);
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    /* position: relative; */
    z-index: 200;
}

.chatTabs {
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 80%;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 85%; */
    width: 95%;
    padding-block: 1.5rem;
    gap: 1.5rem;
    /* margin-top: 1rem; */
    overflow-y: auto;
}

.messageBox::-webkit-scrollbar {
    display: none;
}

.tab,
.activetab,
.empty {
    font-family: "Montserrat", sans-serif;
}

.tab {
    font-weight: 600;
    font-size: clamp(0.9rem, 1vw, 2.5rem);
    color: rgba(130, 130, 130, 1);
    opacity: 50%;
}

.activetab {
    font-weight: 700;
    font-size: clamp(1rem, 1.1vw, 3rem);
    color: rgba(51, 51, 51, 1);
}

.empty {
    font-weight: 800;
    color: rgba(72, 74, 79, 1);
    font-size: clamp(12px, 1.2vw, 36px);
}

@media (max-width: 767px) {
    .chatbarContainer {
        /* position: absolute; */
        /* height: 80%; */
        width: 100%;
        border-radius: 0;
    }
}