button {
    all: unset;
    display: block;
}

.chatbarContainer {
    display: flex;
    height: 85%;
    width: 100%;
    border-top-left-radius: 75px;
    background-color: rgba(249, 249, 249, 1);
    flex-direction: column;
    align-items: center;
}

.chatTabs {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 80%;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 95%;
    padding-top: 1rem;
    gap: 1.5rem;
    margin-block: 1rem;
    overflow-y: auto;
}

.messageBox::-webkit-scrollbar {
    display: none;
}

.tab {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(0.9rem, 1vw, 2.5rem);
    color: rgba(130, 130, 130, 1);
    opacity: 50%;
}

.activetab {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 1.1vw, 3rem);
    color: rgba(51, 51, 51, 1);
}
@media (max-width: 767px) {
    .chatbarContainer {
        height: 100%;
        border-radius: 0;
    }

    .messageBox {
        height: 100%;
    }
}