.paymentIssueContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 344px;
    height: 364px;
    border: 2px solid rgba(242, 242, 242, 1);
    border-radius: 40px;
    padding-inline: 40px;
}

.issuetitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}

.issueChart {
    overflow: hidden;
    height: 100px;
    width: 264px;
}

.xaxis,
.lable {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.totalErrors {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 161, 78, 1);
    display: flex;
    align-items: end;
}

.err {
    font-weight: 600;
    font-size: 14px;
}

.errorCount {
    font-weight: 700;
    font-size: 18px;
    transform: translateY(2px);
}

.errorInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* padding-block: 1rem; */
}

.error {
    display: flex;
    align-items: center;
    gap: 16px;
}

.symbol {
    height: 22px;
    width: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 11px;
}

.errorTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgba(130, 130, 130, 1);
}

/* @media (max-width: 340px) {
    .err {
        font-size: 0.9rem;
    }

    .errorCount {
        font-size: 1.3rem;
    }
}

@media (min-width: 2000px) {

    .issuetitle {
        font-size: 2rem;
    }

    .err {
        font-size: 1.5rem;
    }

    .errorCount {
        font-size: 2rem;
    }

    .errorInfoContainer {
        gap: 1rem;
    }

    .error {
        gap: 1.5rem;
    }

    .symbol {
        height: 3rem;
        width: 3rem;
        border-radius: 8px;
        font-size: 2rem;
    }

    .errorTitle {
        font-size: 1.5rem;
    }
} */