.sucessRateContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid rgba(242, 242, 242, 1);
    border-radius: 40px;
    padding: 10%;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(51, 51, 51, 1);
}
.totalErrors{    
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 161, 78, 1);
    display: flex;
    align-items: end;
    padding-block: 1rem;
}
.err{
    font-weight: 600;
    font-size: 1rem;
}
.errorCount{
    font-weight: 700;
    font-size: 1.5rem;
    transform: translateY(3px);
}
.errorInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-block: 1rem;}

.error {
    display: flex;
    gap: 1rem;
}

.symbol {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgba(130, 130, 130, 1);
}

.countContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.unsucessfullIcon {
    background-color: rgba(223, 238, 219, 1);
}

.sucessfullIcon {
    background-color: rgba(166, 217, 151, 1);
}

.count {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.sucessfullSucessCatagory {
    display: flex;
    flex-direction: column;
}


.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(130, 130, 130, 1);
    margin-top: 5px;
}


@media (min-width: 2000px) {
    .title {
        font-size: 2rem;
    }

    .count {
        font-size: 1.7rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .unsucessfullIcon,
    .sucessfullIcon {
        scale: 1.5;
    }
}