.paymentIssueContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 450px; */
    border: 2px solid rgba(242, 242, 242, 1);
    border-radius: 40px;
    gap: 1rem;
    padding: 2rem;
}

.issuetitle {
    /* height: 10%; */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(51, 51, 51, 1);
}

.issueChart {
    height: 40%;
    width: 100%;
}

.xaxis,
.lable {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.totalErrors {
    /* height: 10%; */
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 161, 78, 1);
    display: flex;
    align-items: end;
    padding-block: 2px;
}

.err {
    font-weight: 600;
    font-size: 1rem;
}

.errorCount {
    font-weight: 700;
    font-size: 1.5rem;
    transform: translateY(3px);
}

.errorInfoContainer {
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-block: 1rem;
}

.error {
    display: flex;
    gap: 1rem;
}

.symbol {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 8px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(130, 130, 130, 1);
}

@media (max-width: 340px) {
    .err {
        font-size: 0.9rem;
    }

    .errorCount {
        font-size: 1.3rem;
    }
}

@media (min-width: 2000px) {

    .issuetitle {
        font-size: 2rem;
    }

    .err {
        font-size: 1.5rem;
    }

    .errorCount {
        font-size: 2rem;
    }

    .errorInfoContainer {
        gap: 1rem;
    }

    .error {
        gap: 1.5rem;
    }

    .symbol {
        height: 3rem;
        width: 3rem;
        border-radius: 8px;
        font-size: 2rem;
    }

    .errorTitle {
        font-size: 1.5rem;
    }
}