.greeting {
    display: flex;

}

.greetingImage {
    margin-right: 0.7rem;
}

.name {
    color: rgba(255, 161, 78, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* font-size: 1.2rem; */
    font-size: clamp(1rem, 1.5vw, 5rem);
}

@media (min-width: 1800px) {
    .greeting {
        margin-block: 1.5rem;
    }

    img {
        width: clamp(40px, 2.5vw, 100px);
    }

    .name {
        font-size: clamp(2rem, 2vw, 5rem);
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}