.greeting {
    display: flex;

}

.greetingImage {
    margin-right: 0.7rem;
}

.name {
    color: rgba(255, 161, 78, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* font-size: 1.2rem; */
    font-size: clamp(1rem, 1.5vw, 5rem);
}

@media (min-width: 1800px) {
    .greeting{
        margin-block: 1.5rem;
    }
    img{
        width: clamp(40px, 2.5vw, 100px);
    }

    .name {
        font-size: clamp(2rem, 2vw, 5rem);
    }
}