* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    padding-left: 12px;
    margin-bottom: 50px;
    /* width: 100%; */
    width: 214px;
}

h1,
h2,
h3 {
    all: unset;
    display: block;
}

.app-name-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-links-container {
    margin-top: 30px;
}

.appname {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: rgba(72, 74, 79, 1);
    font-size: 32px;
}

.link-catagory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(130, 130, 130, 1);
    width: 90%;
}

.link-catagory-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.navbar-dropdown-svg {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.navbar-dropdown-svg.rotate {
    transform: rotate(180deg);
}

.slide {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.slide.open {
    max-height: 1000px;
}

.slide.closed {
    max-height: 0;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.navbar_Links {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
}

.navbar_Links_Name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(130, 130, 130, 1);
}

.navbar_Links:hover {
    background-color: rgba(221, 231, 241, 0.5);
    padding: 10px 5px;
    border-radius: 6px;
    transition: background-color 0.2s ease, padding 0.2s ease;
}

.selected-link {
    background-color: rgba(221, 231, 241, 0.5);
    border-radius: 6px;
    padding: 10px 5px;
}

.line {
    height: 0.8px;
    background-color: rgba(221, 231, 241, 1);
    border: 1px;
    margin-block: 25px;
}


.ser-togg-lang-line {
    width: 100%;
    height: 0.8px;
    background-color: rgba(221, 231, 241, 1);
    border: 1px;
}

.navbar-close-btn {
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.search-toggle-language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 0px;
    padding: 0px;
    /* height: 30px; */
    /* width: 90%; */
}
.search{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-toggle-container {
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

@media (min-width: 768px) {
    .search-toggle-language-container {
        display: none;
    }
}

@media (min-width: 1024px) {
    .navbar-close-btn {
        display: none;
    }
}