* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.sideBar {
    padding-inline: 20px;
    padding-block: 30px;
    background-color: rgba(252, 252, 252, 255);
    display: none;
}

.right {}

@media (min-width: 600px) {
    .dashboard {
        display: flex;
        flex-direction: row;
    }

    .sideBar {
        display: block;
        flex: 1;
        padding-inline: 20px;
        padding-block: 30px;
        background-color: rgba(252, 252, 252, 255);
    }

    .right {
        flex: 4;
    }
}

@media (min-width: 1024px) {
    .dashboard {
        display: flex;
        flex-direction: row;
    }

    .sideBar {
        flex: 1;
        padding-inline: 20px;
        padding-block: 30px;
        background-color: rgba(252, 252, 252, 255);
    }

    .right {
        flex: 5;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .upper {
        height: 63px;
        display: flex;
    }

    .topBar {
        width: 90%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: aquamarine;
        margin: auto;
    }

    .search {
        flex: 6;
        display: flex;
        justify-content: center;
        background-color: cadetblue;
    }
    .button {
        flex: 2;
        background-color: rgb(150, 89, 131);
    }
    .language {
        flex: 2;
        background-color: rgb(110, 160, 95);
    }
    .bellIcon {
        flex: 1;
        background-color: rgb(125, 95, 160);
    }
    .user {
        flex: 3;
        background-color: rgb(160, 113, 95);
    }

    .lower {
        flex: 1;
        background-color: rgb(46, 45, 47);
    }
}

@media (min-width: 1440px) {
    .dashboard {
        display: flex;
        flex-direction: row;
    }

    .sideBar {
        flex: 1;
        padding-inline: 20px;
        padding-block: 30px;
        background-color: rgba(252, 252, 252, 255);
    }

    .right {
        flex: 5;
    }
}