.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 12px;
    margin-bottom: 94px;
    position: relative;
}

.headerContainer {
    margin-bottom: 12px;
}

.graphContainer {
    width: 100%;
    /* width: 747px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    /* padding-right: 36px; */
}

.earning {
    width: 100%;
    /* height: 392px; */
    display: flex;
    justify-content: space-between;
}

.bottomRow {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* height: 364px; */
    gap: 20px;
    justify-content: space-evenly;
}

@media (max-width: 1023px) {
    .bottomRow {
        /* flex-direction: column; */
        /* height: auto; */
        /* align-items: center; */
    }

    .homeContainer {
        position: absolute;
    }
}